body{
    background: url(../images/diamond_upholstery_@2X.png);
}
.container{
    width: 100%;
}
p{
    font-size: 16px;
    font-weight: bolder;
}
h4{
    color: red;
    font-size: 25px;
}
h6{
    font-size: 55px;
    font-weight: 900;
}
img{
    width: 150px;
    height: 150px;
}